:root {
	--dark: #374151;
	--darker: #1f2937;
	--darkest: #111827;
	--grey: #6b7280;
	--blue-yonder: #8EA4D2;
	--light: #eee;
	--pink: #ec4899;
	--purple: #8b5cf6;
	--crimson: #D72638;
}

input, button, select {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

.highlight{
    background: rgba(250, 200, 10, 0.5);
}

/* button {
    display: inline-block;
    width: 50px;
    height: 30px;
    margin: 1px;
} */

.button_slick {
	color: #FFF;
	border: 2px solid rgb(216, 2, 134);
	background-color: #162944;
	border-radius: 0px;
	padding: 18px 36px;
	display: inline-block;
	font-family: monospace;
	font-size: 14px;
	letter-spacing: 1px;
	box-shadow: inset 0 0 0 0 #D80286;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
  }
  
.button_slick:hover {
		cursor: pointer;
	  box-shadow: inset 0 100px 0 0 #D80286;
}

@font-face {
	font-family: "Spotnik";
	src: url("../assets/Spotnik.ttf");
}

@font-face {
	font-family: "Roboto";
	src: url("..../assets/Roboto.ttf"), url('..../assets/Roboto-Medium.ttf') url('..../assets/Roboto-Regular.ttf') format('truetype');
}

.Spotnik{
	font-family: "Spotnik";
	font-size: 1m;
}

.btnActionEmptyAlt {
	font-family: Roboto;
	color: var(--light);
	border-radius: 15px;
	padding: 0.5rem;
	font-size: 120%;
	/* font-size: 1.5rem; */
	border: 5px solid var(--light);
	white-space: nowrap;
	overflow-x: scroll;
	width: 190px;
}

.buttonDelete {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	color: crimson;
	transition: 0.4s;
	max-width: fit-content;
}

.btnTestTrigger{
	cursor: pointer;
	width: 50px;
	margin-left: 10px;
}

.testTrigger {
	/* cursor: pointer; */
	width: 50px;
	margin-left: 10px;
}

.btnTestTrigger:hover {
	opacity: 0.6;
}

#listTests {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: flex-start;
}

.testLayout {
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */
	align-items: center;
	margin-top: 10px;
	width: 100%;
}


.loader{
	margin: 0 0 2em;
	height: 10px;
	width: 15%;
	text-align: center;
	padding: 1em;
	margin: 0 auto 1em;
	display: inline-block;
	/* vertical-align: top; */
  }

svg path, svg rect{
  fill: var(--pink);
}